html, body {
        position: relative;
        height: 100%;
    }

body {
  margin:0;
  padding:0;
}


.header img
{
    width:100%;
}
.manu
{
    width:50%;
    height:auto;
   margin-top: -1.5%;
   
    position:relative;
     
}


    .social li:hover {
	    transform: scale(1.15) rotate(360deg);
	    -webkit-transform: scale(1.1) rotate(360deg);
	    -moz-transform: scale(1.1) rotate(360deg);
	    -ms-transform: scale(1.1) rotate(360deg);
	    -o-transform: scale(1.1) rotate(360deg);
    }
    .social li a {
	    color: #fff;
    }
    .social li:hover {
	    border: 2px solid #fff;
	    background: #fff;
    }
    .social li a i {
	    font-size: 16px;
	    margin: 0 0 0 5px;
	    color: #fff !important;
    }

/* Base Styles */
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    position: relative;
}

    #cssmenu a {
        line-height: 1.3;
    }

#cssmenu {
    width: 250px;
}

    #cssmenu > ul > li > a {
        padding-right: 40px;
        font-size: 25px;
        font-weight: bold;
        display: block;
        background: #F16521;
        color: #ffffff;
        border-bottom: 1px solid #5e071b;
        text-transform: uppercase;
    }

        #cssmenu > ul > li > a > span {
            background:#F16521;
            padding: 6px;
            display: block;
            font-size: 13px;
            font-weight: 300;
        }

        #cssmenu > ul > li > a:hover {
            text-decoration: none;
        }

    #cssmenu > ul > li.active {
        border-bottom: none;
    }

        #cssmenu > ul > li.active > a {
            color: #fff;
        }

            #cssmenu > ul > li.active > a span {
                background: #F16521;
            }

    #cssmenu span.cnt {
        position: absolute;
        top: 8px;
        right: 15px;
        padding: 0;
        margin: 0;
        background: none;
    }
    /* Sub menu */
    #cssmenu ul ul {
        display: none;
    }

        #cssmenu ul ul li {
            border: 1px solid #e0e0e0;
            border-top: 0;
        }

        #cssmenu ul ul a {
            padding: 10px;
            display: block;
            color: #F16521;
            font-size: 13px;
        }

